a {
  color: #007bff;
  font-size: 16px;
  font-weight: 250;
  padding: 0px 2px;
}

/* a:hover {
  color: #007bff;
  text-decoration: none;
} */

h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 2px;
}

h2 {
  color: #e2e2e2;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 2px;
}

h3 {
  color: #fafafa;
  font-size: 16px;
  font-weight: 250;
}

i {
  color: #e2e2e2;
}

i.humidity {
  color: #e2e2e2;
}

i.wind {
  color: #e2e2e2;
}

i.sunrise {
  color: #e2e2e2;
}

i.location {
  color: #007bff;
  font-size: 30px;
}

i.location:hover {
  color: #0069d9;
  cursor: pointer;
}

p {
  color: #fafafa;
  font-size: 16px;
  font-weight: 250;
}

.container {
  border-radius: 4px;
  margin-top: 10px;
  width: 400px;
  height: 600px;
  padding: 0px;
}

.background-bolt {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/bolt.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.background-clear-day {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/clear-sky.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.background-clear-night {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/clear-night.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.background-thick-cloud {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/thick-cloud.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.background-light-cloud {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/light-cloud.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.background-drizzle {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/drizzle.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.background-fog {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.7)
    ),
    url(media/fog.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 20px;
}

.background-rain {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/rain.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.background-snow {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.01),
      rgba(0, 0, 0, 0.3)
    ),
    url(media/snow.jpg);
  border-radius: 4px;
  width: 400px;
  height: 600px;
  padding: 10px;
}

.days p {
  color: #e2e2e2;
  font-size: 14px;
  margin: 0px;
}
.enter-city {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #007bff;
}

.footer {
  padding-bottom: 5px;
}

.footer p {
  display: inline;
  color: rgba(250, 250, 250, 0.5);
  font-size: 10px;
  font-weight: 250;
}

.main-icon-wet {
  color: #20558f;
  font-size: 150px;
  margin: 20px;
}

.main-icon-dry {
  color: #e4c722;
  font-size: 150px;
  margin: 20px;
}

.main-icon-cloud {
  color: #e2e2e2;
  font-size: 150px;
  margin: 20px;
}

.next-week {
  margin-top: 25px;
}

.next-week i {
  font-size: 15px;
  float: left;
}

.next-week-variables p {
  color: #e2e2e2;
  font-size: 10px;
}

.next-week-icon {
  padding-right: 0px;
}

.next-week-text {
  padding-left: 0px;
}

.open-source {
  color: rgba(250, 250, 250, 0.5);
  display: inline;
  font-size: 10px;
  font-weight: 250;
  text-decoration: underline;
}

.search {
  margin-bottom: 10px;
}

.search-bar {
  margin-top: 15px;
}

.temp {
  color: #e2e2e2;
  display: block;
  font-size: 40px;
  font-weight: 350;
  margin: 0 auto;

  text-align: center;
}

.temp-unit {
  display: block;
  margin: 0 auto;
}

.temp-unit .active {
  cursor: default;
  color: #fafafa;
}

.temp-unit .active:hover {
  color: #fafafa;
  cursor: default;
  text-decoration: none;
}

.weather-type {
  text-transform: capitalize;
}

.weather-variables {
  margin-top: 15px;
}

.weather-variables i {
  float: left;
  font-size: 20px;
  margin: 5px;
}

.weather-variables p {
  color: #e2e2e2;
  font-size: 14px;
  margin: 0px;
}

.weather-variables strong {
  color: #e2e2e2;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 20px;
}
